<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mysticwarez - How to Join Mysticwarez</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="page">
    <header class="site-header">
      <script defer src="/scripts/highlight-current-page-in-nav.js"></script>
      <script defer src="/scripts/mobile-menu.js"></script>
      <a href="/" class="logo" hx-trigger="load" hx-get="/images/logo.svg"></a>
      <button id="hamburger-menu" aria-label="Menu">☰</button>
      <nav class="site-navigation">
        <ul>
          <li class="site-link community-link">
            <a href="/">
              <div class="nav-icon" hx-trigger="load" hx-get="/images/community-icon.svg"></div>
              Community
            </a>
          </li>
          <li class="site-link courses-link">
            <a href="/courses">
              <div class="nav-icon" hx-trigger="load" hx-get="/images/courses-icon.svg"></div>
              Courses
            </a>
          </li>
          <li class="site-link">
            <a href="#">
              <div class="nav-icon" hx-trigger="load" hx-get="/images/newsletter-icon.svg"></div>
              Newsletter
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="site-main">
      <header class="page-header">
        <h1>Learn Technomancy</h1>
      </header>
      <div id="courses">
      
      </div>
      <div id="pagination"></div>
      <script defer src="/scripts/load-courses.js" type="module"></script>
    </main>
  </div>
  <script src="https://unpkg.com/htmx.org@2.0.3"></script>
</body>
</html>